/*-- //Reset Code --*/
body {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.main {
    width: 65%;
    margin: 70px auto 0px auto;
    text-align: center;
}

.main h2 {
    font-size: 80px;
    font-weight: 400;
    color: #000;
}

.main h1 {
    font-size: 170px;
    font-weight: 400;
    color: #000;
}

.main h1 img {
    width: 11%;
}

.main h3 {
    margin: 30px 0px;
    font-size: 28px;
    font-weight: 400;
    color: #000;
}

a.back {
    display: inline-block;
    color: #000;
    border: 1px solid #000;
    padding: 7px 15px;
    margin-bottom: 30px;
}

a.back:hover {
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease-in-out;
}

.main ul {
    margin: 0;
    width: 57%;
    margin: 0 auto;
}

.main ul li {
    display: inline;
}

.footer {
    text-align: center;
    margin-top: 100px;
}

.footer p {
    font-size: 16px;
    color: #000;
}

.footer a {
    color: #000;
    font-size: 16px;
    border: none;
    padding: 0;
}

.footer a:hover {
    color: #fff;
    font-size: 16px;
}
