/* Made with love by Mutiullah Samim 2200 2401 1118 6730 24 23*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.navbar-fix {
    width: 100%;
    position: fixed;
}

.list-table {
    margin-top: 15rem;
    margin-bottom: auto;

}

.blur {
    backdrop-filter: blur(30px);
}

.container {
    height: 100%;
    align-content: center;
}

.page-link {
    background-color: #212529;
    color: #ffffff;
    border-color: whitesmoke;
}

.page-item.active .page-link {
    background-color: #fff;
    border-color: #3c3c3c;
    color: #3c3c3c;
}


.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-reg {
    height: 540px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-update {
    height: 440px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #12e3ff;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #12e3ff;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: unset;
    -webkit-animation-timing-function: linear;
}

.shake {
    display: inline-block;
}

.error {
    border-color: red;
    border-radius: 20px;
}

.alert {
    position: absolute;
    width: 100%;
    z-index: 30;
}

.nav-text {
    color: #12e3ff;
}

a {
    color: #12e3ff;
}

