{% extends "base.html" %}
{%block title%}
Adding user
{%endblock%}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card-reg">
            <div class="card-header">
                <h3>User data</h3>
            </div>
            <div class="card-body">
                <form id="addUser">
                    <input type="hidden" value="true" name="add_user">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                        </div>
                        <input id="login" name="login" minlength="4" maxlength="15" type="text" class="form-control" placeholder="login">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                        </div>
                        <input id="password" name="password" minlength="4" maxlength="15" type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </span>
                        </div>
                        <input id="fname" name="fname" type="text"  minlength="4" maxlength="15" class="form-control" placeholder="first name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </span>
                        </div>
                        <input id="lname" name="lname" type="text"  minlength="4" maxlength="15" class="form-control" placeholder="last name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-venus-mars"></i>
                                </span>
                        </div>
                        <select id="gender" name="gender" class="selectpicker form-control">
                            <option>Male</option>
                            <option>Fmale</option>
                        </select>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input name="date" type="text" class="form-control" id="datetimepicker2">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add user" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">


    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'en',
            format: 'DD.MM.YYYY',
            defaultDate: moment('01.01.1990').format('DD.MM.YYYY'),
            maxDate: 'now',
            minDate: '01.01.1940'
        });
    });
</script>
{% endblock %}