<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>
        {%block title%}
        {%endblock%}
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <script src="/js/script.js"></script>
    <script src="/js/jquery.cookie.js"></script>
</head>

<body>
{%block alert%}
<div id="cookies" class="alert alert-info" role="alert">
    By continuing to use the site, you agree to collect cookies
</div>
<div id="alert" class="alert alert-danger" role="alert">
    <span id="alert-message"></span>
</div>
{%endblock%}

{%block navbar%}
<nav class="navbar navbar-light navbar-dark bg-dark navbar-fix">
    <a class="navbar-brand" href="/index.php">
        <img src="https://sibers.com/images/logo.png" width="170" height="30" class="d-inline-block align-top" alt="">
    </a>
    <ul class="justify-content-end nav">
        <li class="nav-item">
            <a class="nav-link nav-text" href="/add_user">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-text" href="/list">List Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-text" href="/index.php?quit=true">Quit</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}

{% endblock %}

</body>
</html>