{% extends "base.html" %}
{%block title%}
Login Page
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="blur">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>
                    </h3>
                </div>
                <div class="card-body">
                    <form id="login">
                        <input type="hidden" value="true" name="action_login">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="user_name" name="username" class="form-control"
                                   placeholder="username">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="password">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox" name="remember">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <span style="font-size: 0.9rem;color: #12e3ff">
                            &copy Designed by developer D.Shamkaev  {{ "now"|date(" Y") }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
