{% extends "base.html" %}
{% block title %}
Users list
{% endblock %}
{% block alert %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="container">
        <div class="d-flex justify-content-center">
            <table class="table table-striped table-dark list-table">
                <thead>
                <tr>
                    {% set up = '<i class="fa fa-chevron-up" aria-hidden="true"></i>' %}
                    {% set down = '<i class="fa fa-chevron-down" aria-hidden="true"></i>' %}
                    <th scope="col">
                        <a href="?orderby=id">#{{order == "id_asc" ? up|raw}}{{order == "id_desc" ? down|raw}}</a>
                    </th>
                    <th scope="col"><a href="?orderby=login">Login{{order == "login_asc" ? up|raw}} {{order == "login_desc" ? down|raw}}</a></th>
                    <th scope="col">Password</th>
                    <th scope="col"><a href="?orderby=fname">First name{{order == "fname_asc" ? up|raw}} {{order == "fname_desc" ? down|raw}}</a></th>
                    <th scope="col"><a href="?orderby=lname">Last name{{order == "lname_asc" ? up|raw}} {{order == "lname_desc" ? down|raw}}</a></th>
                    <th scope="col"><a href="?orderby=gender">Gen.{{order == "gender_asc" ? up|raw}} {{order == "gender_desc" ? down|raw}}</a></th>
                    <th scope="col"><a href="?orderby=date_of_birth">Date of birth{{order == "date_of_birth_asc" ? up|raw}} {{order == "date_of_birth_desc" ? down|raw}}</a></th>
                    <th scope="col">Act.</th>
                    <th scope="col"><a href="/?orderby=rights">Adm.{{order == "rights_asc" ? up|raw}} {{order == "rights_desc" ? down|raw}}</a></th>

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.login}}</td>
                    <td><a href="https://md5.web-max.ca/index.php#enter?{{user.password}}" target="_blank"
                           style="color: #fff">Look here</a>
                    </td>
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                    {% if user.gender == "Male" %}
                    <td><i style="color: darkblue" class="fa fa-male" aria-hidden="true"></i></td>
                    {% else %}
                    <td><i style="color: deeppink" class="fa fa-female" aria-hidden="true"></i></td>
                    {% endif%}
                    <td>{{user.date_of_birth|date("d/m/Y")}}</td>
                    <td>
                        <a href="/update/{{user.id}}"><i class="fa fa-cogs" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        {{user.rights ? '<i style="color: green" class="fa fa-check" aria-hidden="true"></i>' : '<i
                            style="color: red" class="fa fa-times"
                            aria-hidden="true"></i>'}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item {{png.page == 1 ? ' disabled' : ''}}">
                        <a class="page-link" href="?page={{png.page - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for i in 1..png.limit_page %}
                    {% if i == png.page %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {{png.page == png.limit_page ? ' disabled' : ''}}">
                        <a class="page-link" href="?page={{png.page + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item {{png.show == 3 ? ' disabled'}}"><a class="page-link" href="?limit=3">3</a></li>
                    <li class="page-item {{png.show == 5 ? ' disabled'}}"><a class="page-link" href="?limit=5">5</a></li>
                    <li class="page-item {{png.show == 10 ? ' disabled'}}"><a class="page-link" href="?limit=10">10</a></li>
                    <li class="page-item {{png.show == 12 ? ' disabled'}}"><a class="page-link" href="?limit=12">12</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}