{% extends "base.html" %}
{%block title%}
Update User # {{id}}
{%endblock%}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card-update">
            <div class="card-header">
                <h3>User data # {{id}}</h3>

                {% if back|length > 0 %}
                <a href="{{back}}"><i class="fa fa-chevron-left" aria-hidden="true">Go back</i></a>
                {% endif %}
            </div>
            <div class="card-body">
                <form id="updateUser">
                    <input type="hidden" value="true" name="update_user">
                    <input type="hidden" value="{{id}}" name="id">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                        </div>
                        <input id="login" name="login" value="{{username}}" type="text" class="form-control" placeholder="login">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </span>
                        </div>
                        <input id="fname" name="fname" type="text" value="{{fname}}" class="form-control" placeholder="first name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </span>
                        </div>
                        <input id="lname" name="lname" type="text" value="{{lname}}" class="form-control" placeholder="last name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-venus-mars"></i>
                                </span>
                        </div>
                        <select id="gender" name="gender" class="selectpicker form-control">
                            {% if gender == "Male" %}
                            <option selected>Male</option>
                            <option>Fmale</option>
                            {% else %}
                            <option>Male</option>
                            <option selected>Fmale</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input name="date" value="{{date}}" type="text" class="form-control" id="datetimepicker2">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">


    $(function () {
        $('#datetimepicker2').datetimepicker({
            locale: 'en',
            format: 'DD.MM.YYYY',
            defaultDate: moment('01.01.1990').format('DD.MM.YYYY'),
            maxDate: 'now',
            minDate: '01.01.1940'
        });
    });
</script>
{% endblock %}